.container {
    overflow: auto;
}
.main {
	padding-left: 18px;
	padding-right: 18px;
	font-size: 16px;
}
.main .question-title {
	margin: 15px 0 15px 0;
    padding-left: 10px;
    font-size: 20px;
    line-height: 1;
    border-left: 4px solid #ea6f5a;
}
.main .question-title .iconfont {
	font-size: 26px;
}
.main .question-add {
	display: block;
	float: right;
}
.main .question-list {
	margin-bottom: 30px;
	padding: 5px 20px 10px;
    border-radius: 6px;
    border: 1px solid #eecbbd;
}
.main .question-list .question-item {
	border-bottom: 1px solid #eecbbd;
}
.main .question-list span{
	float: right;
	padding-top: 4px;
	font-size: 14px;
	color: #999;
}
.main .question-list .question-item:last-child{
	border-bottom: 0;
}
.main .question-list .question-item .title {
	padding: 12px 0 6px 0;
    font-size: 16px;
    color: #ea6f5a; 
}
.main .question-list .question-item .con {
	padding-bottom: 6px;
	font-size: 14px;
	color: #333;
}
.banner img{
	margin-top: 15px;
	max-width: 100%;
}